.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    opacity: 0.5;
}
